!.gitkeep
e2e-tests
node_modules
app/books/*
!app/books/.gitkeep
app/articles/*
!app/articles/.gitkeep
app/api/vendor
app/components
video
.bowerrc
.jshintrc
README_angularjs.md
bower.json
karma.conf.js
npm-debug.log
package.json
*.sublime-project
*.sublime-workspace
extra/
books/*
!books/.gitkeep
articles/*
!articles/.gitkeep
app/api/config/config.php