<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<style>
		body {
			width: 100%;
		}
		img {
			max-width: 860px;
		}
	</style>
</head>
<body>
    <div ng-if="articleTags.length" style="margin-top: 15px;">
        <ul class="tag" >
            <li ng-repeat="tag in articleTags">{{tag.name}}</li>
        </ul></h3>
    </div>

    <div ng-if="articleTags.length==0">No tags</div>

	<div class="modal-body" ng-bind-html="articleContent">
	</div>
	<div class="modal-footer">
	    <button class="btn btn-warning" ng-click="close()">Close</button>
	</div>
</body>
</html>