<!-- Books -->
<div class="wrapper style2">

<div class="title">Books</div>

    <div id="main" class="container">                        

        <div class="row 150%" ng-controller="booksCtrl">

            <div class="3u" ng-repeat="book in BooksAPI.results.books" style="min-height: 400px;">
                <section class="box">

                    <span ng-if="book.render.coverpath">
                        <a ng-if="book.render.filepath" ng-click="showBook(book.id)" style="cursor: pointer">
                            <img class="image featured" src="{{book.render.coverpath}}" alt="cover" />
                        </a>
                    </span>

                    <span ng-if="!book.render.coverpath">
                        <a ng-if="book.render.filepath" ng-click="showBook(book.id)" style="cursor: pointer">
                            <img class="image featured" src="assets/images/default_cover.png" alt="cover" />
                        </a>

                        <img ng-if="! book.render.filepath" class="image featured" src="assets/images/default_cover.png" alt="cover" />
                    </span>

                    <h3 style="margin-top: -20px; margin-bottom: 0px;">{{book.title | limitTo: 24}}  {{book.title.length > 24 ? '[..]' : ''}}</h3>

<!--                     
                    <div ng-if="book.render.filepath">
                        <p class="render_string">
                            <span>
                                <button type="button" class="btn btn-primary btn-xs" style="float: right;" ng-click="showBook(book.id)">New Tab</button>
                                {{book.render.created}}
                            </span>
                        </p>
                    </div> -->

                    <div ng-if="book.render.filepath">
                        <p class="render_string">{{book.render.created}}</p>
                    </div>

                    <div ng-if="! book.render.filepath">
                        <p class="render_string">No render for this book yet</p>
                    </div>

                </section>
            </div>

            <!-- if there are no books -->
            <div ng-if="books.length==0">
                <p style="margin-top: 60px;">No books :-(</p>
            </div>

        </div>
    </div>

</div>


<!-- Articles -->
<div class="block-spacer"></div>

<div class="wrapper style2">
    <div class="title">Articles</div>
    <div id="highlights" class="container">
        <div class="row 150%" ng-controller="articlesCtrl">


            <div class="3u" ng-repeat="article in ArticlesAPI.results.articles" style="min-height: 340px;">
                <section class="box article">

                    <h3 class="article">{{article.title | limitTo: 18}} {{article.title.length > 18 ? '[..]' : ''}}</h3>

                    <div ng-if="article.thumbnail">
                        <img class="image article" ng-src="{{article.thumbnail}}" alt="" />
                    </div>

                    <div ng-if="!article.thumbnail">
                        <img class="image article" src="assets/images/default_article.png" alt="" />
                    </div>

                    <ul class="tagslist" ng-if="article.tags.length">    
                        <li ng-repeat="tag in article.tags">{{tag.name}}</li>
                    </ul>

                    <div>
                        <button type="button" class="btn btn-primary btn-xs" style="float: right;" ng-click="showArticle(article.id, article.title)">New Tab</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="showModalArticle(article.id, article.title)">Modal</button>
                    </div>

                </section>
            </div>  
        </div>
    </div>
</div>
