<!-- Books -->
<div class="wrapper style2">

<div class="title">Books</div>

    <div id="main" class="container">                        

        <div class="row 150%" ng-controller="booksCtrl">

            <div class="3u" ng-repeat="book in BooksAPI.results.books" style="min-height: 400px;">
                <section class="box">

                    <header>
                        <h3>{{book.title}}</h3>
                    </header>
                    
                    <div ng-if="book.render.filepath">

                        <a href="{{book.render.filepath}}" class="image featured" target="_blank">
                            <span ng-if="book.render.coverpath">
                                <img ng-src="{{book.render.coverpath}}" alt="" />
                            </span>
                            <span ng-if="!book.render.coverpath">
                                <img src="assets/images/default_cover.png" alt="" />
                            </span>
                        </a>
                                                    
                        <p class="render_string">Last render: {{book.render.created}}</p>
<!-- 
                        <button type="button" class="button style3" ng-click="showBook(book.render.filepath)">Show</button>
                        <a class="button style3" href="{{book.render.filepath}}" target="_blank">New tab</a> 
-->

                    </div>

                    <div ng-if="! book.render.filepath">
                        <img class="image featured" src="assets/images/default_cover.png" alt="" />
                        <p class="render_string">No render for this book yet</p>
                    </div>

                </section>
            </div>

            <!-- if there are no books -->
            <div ng-if="books.length==0">
                <p style="margin-top: 60px;">No books :-(</p>
            </div>

        </div>
    </div>

</div>


<!-- Articles -->
<div class="block-spacer"></div>

<div class="wrapper style2">
    <div class="title">Articles</div>
    <div id="highlights" class="container">
        <div class="row 150%" ng-controller="articlesCtrl">


            <div class="3u" ng-repeat="article in ArticlesAPI.results.articles" style="min-height: 340px;">
                <section class="box article">

                    <a href="#" ng-click="showArticle(article.id, article.title)">
                        <!-- <h3 class="article">{{article.title | limitTo: 18}} {{article.title.length > 18 ? '[..]' : ''}}</h3> -->
                        <h3 class="article">{{article.title}}</h3>
                    </a>
                    
                    <div ng-if="article.thumbnail">
                        <a href="#" ng-click="showArticle(article.id, article.title)">
                            <img class="image article" ng-src="{{article.thumbnail}}" alt="" />
                        </a>
                    </div>

                    <div ng-if="!article.thumbnail">
                        <a href="#" ng-click="showArticle(article.id, article.title)">
                            <img class="image article" src="assets/images/default_article.png" alt="" />
                        </a>
                    </div>

                    <ul class="tag" ng-if="article.tags.length">    
                        <li ng-repeat="tag in article.tags">{{tag.name}}</li>
                    </ul>

                    <!-- <button type="button" class="button style3" ng-click="showArticle(article.id, article.title)">Show</button> -->

                </section>        
            </div>  
        </div>
    </div>
</div>
