<!-- Books -->
<div class="wrapper style2">

<div class="title">Books</div>

    <div id="main" class="container">                        

        <div class="row 150%" ng-controller="booksCtrl">

            <div class="3u" ng-repeat="book in BooksAPI.results.books" style="min-height: 350px;">

                <section class="box book">

            		<div style="margin:0; padding:0;">					
	                    <span ng-if="book.render.cover_type == 'custom'">
	                        <a ng-click="showBook(book.id)" style="cursor: pointer">
	                            <img class="image featured" src="data:image/png;base64,{{book.render.cover_base64}}" alt="cover" />
	                        </a>
	                    </span>
                    
	                    <span ng-if="book.render.cover_type == 'default'">
	                    	<h3 style="margin: 0px; height: 45px; text-align: center;">{{book.title | limitTo: 40}}  {{book.title.length > 40 ? '[..]' : ''}}</h3>
	
	                        <a ng-click="showBook(book.id)" style="cursor: pointer">
	                            <img class="image featured" style="height: 200px;" src="assets/images/default_cover.png" alt="cover" />
	                        </a>
	                        
	                    </span>
					</div>
					
					<div>
						<p ng-if="book.render.filepath" class="render_string" style="text-align: center;">{{book.render.created}}</p>
						<p ng-if="! book.render.filepath"class="render_string">No render for this book yet</p>
                    </div>

                </section>
            </div>

            <!-- if there are no books -->
            <div ng-if="books.length==0">
                <p style="margin-top: 60px;">No books :-(</p>
            </div>

        </div>
    </div>

</div>


<!-- Articles -->
<div class="block-spacer"></div>

<div class="wrapper style2">
    <div class="title">Articles</div>
    <div id="highlights" class="container">
        <div class="row 150%" ng-controller="articlesCtrl">


            <div class="3u" ng-repeat="article in ArticlesAPI.results.articles" style="min-height: 340px;">
                <section class="box article">

                    <h3 class="article" style="text-align: center; height: 40px;">{{article.title | limitTo: 40}} {{article.title.length > 40 ? '[..]' : ''}}</h3>

                    <div ng-if="article.thumbnail">
                        <img class="image article" ng-src="{{article.thumbnail}}" alt="" />
                    </div>

                    <div ng-if="!article.thumbnail">
                        <img class="image article" src="assets/images/default_article.png" alt="" />
                    </div>

                    <ul class="tagslist" ng-if="article.tags.length">    
                        <li ng-repeat="tag in article.tags">{{tag.name}}</li>
                    </ul>

                    <div>
                        <button type="button" class="btn btn-primary btn-xs" style="float: right;" ng-click="showArticle(article.id, article.title)">New Tab</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="showModalArticle(article.id, article.title)">Modal</button>
                    </div>

                </section>
            </div>  
        </div>
    </div>
</div>
